button {
    padding: 20px;
    margin: 10px;

  }

  body{
    background-color: darkgray;
  }

.hidden{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* adjust height as needed */
    color: darkgray;
  }

  .hidden2{
    text-decoration: none;
    color: inherit;
  }
  .hidden2:hover,
  .hidden2:active {
    text-decoration: none;
    color: inherit;
    cursor: default;

  }
  .hidden2 {
    cursor: default;

  }

  @keyframes wavy {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .wavy-text {
    font-size: 50px;
    text-decoration-color: blue;
    animation: wavy 1s infinite;
  }
